*.o
*.a
*.obj
*.exe
*.ilk
*.map
*.pdb
*.suo
builtflt.h
config.h
config.log
config.status
makefile
nebind.h
neexec.h
nefkeys.h
nefsms.h
nefunc.h
nemode.h
nename.h
neproto.h
nevars.h
none
filters/makefile
filters/builtflt.lib
filters/mk-1st.tmp
filters/mk-2nd.tmp
filters/none
